<div id="<%= dom_id grader %>">
  <p>
    <strong>Lname:</strong>
    <%= grader.lname %>
  </p>

  <p>
    <strong>Fname:</strong>
    <%= grader.fname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= grader.email %>
  </p>

</div>
