<div id="<%= dom_id instructor %>">
  <p>
    <strong>Lname:</strong>
    <%= instructor.lname %>
  </p>

  <p>
    <strong>Fname:</strong>
    <%= instructor.fname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= instructor.email %>
  </p>

</div>
