<% content_for :title, "OSU CSE Course Catalog" %>

<div class="img" style="background-image: url(<%= asset_path 'oval.jpg' %>)">
    <div class="center-home-text">  
        OSU CSE Course Catalog
    </div>
</div>

</body>
