<div id = 'search_bg'>
<h1> Course search Guide </h1>

<p> To use course search you can input parameters in the corresponding text box to get a result or enter nothing to get all courses. </p>
<p> Searches are saved to the database </p>
<h2> Search: Input any query and it will find relevant courses to your input </h2>
<h2> Term: The academic term for the courses </h2>
<div class = "example">
    <p> 1242 = Spring 2024 </p>
    <p> 1244 = Summer 2024 </p>
    <p> 1248 = Autumn 2024 </p>
   
</div>
<h2> Campus: The campus where the course takes place </h2>
<div class = "example">
    <p> col = Columbus </p>
    <p> lma = Lima </p>
    <p> mns = Mansfield </p>
    <p> mrn = Marion </p>
    <p> nwk = Newark </p>
    <p> wst = Wooster </p>
</div>
<h2> Academic career: The campus where the course takes place </h2>
<div class = "example">
    <p> ugrd = Undergraduate </p>
    <p> grad = Graduate </p>
    <p> php = Pharmacy </p>
    <p> law = Law </p>
    <p> VMED = Veterinary Medicine </p>
    <p> OPT = Optometry </p>
    <p> MED = Medicin </p>
    <p> DENT = Dentistry </p>
</div>
<h2> Catalog number: The level of the class </h2>
<div class = "example">
    <p> 1xxx </p>
    <p> 2xxx </p>
    <p> 3xxx </p>
    <p> 4xxx </p>
</div>
<h2> Component: The attributes of the class </h2>
<div class = "example">
    <p> ind = Independent Study </p>
    <p> lab = Laboratory </p>
    <p> rec = Recitation </p>
    <p> sem = Seminar </p>
</div>
<h2> Subject: The subject of the class </h2>
<div class = "example">
    <p> cse = Computer Science of Engineering</p>
</div>
<h2> Instruction mode: The type of instruction for a class </h2>
<div class = "example">
    <p> dh = Distance Enhanced </p>
    <p> dl = Distance Learning </p>
    <p> hy = Hybrid Delivery </p>
    <p> p = In Person </p>
</div>
<h2> Time of day: The time of day for a class </h2>
<div class = "example">
    <p> Daytime = Daytime </p>
    <p> Evening = Evening </p>
   
</div>


</div>