<h1> Downloading</h1>
<%= render @api_search %>
 <%= link_to "Back to course searches", api_searches_path %>
 <%= link_to "Show this course search", @api_search %>
 <%= link_to "Edit this course search", edit_api_search_path(@api_search) %> |