<h1> Downloading</h1>
<%= render @api_search %>
 <%= link_to "Back to api searches", api_searches_path %>
 <%= link_to "Show this api search", @api_search %>
 <%= link_to "Edit this api search", edit_api_search_path(@api_search) %> |