<h1>Editing course search</h1>

<%= render "form", api_search: @api_search %>

<br>

<div>
  <%= link_to "Show this course search", @api_search %> |
  <%= link_to "Back to course searches", api_searches_path %>
</div>
