<h1>Editing api search</h1>

<%= render "form", api_search: @api_search %>

<br>

<div>
  <%= link_to "Show this api search", @api_search %> |
  <%= link_to "Back to api searches", api_searches_path %>
</div>
