
 body{
    background-color: #eff1f2;
    // background-color: blue;
 }
#title {
    font-family: 'HarewataruSansShavian',Arial, Helvetica, sans-serif;
    
    // color: #212325;
    text-align: center;
    
     color: #ba0c2f; 

}