.container {
  min-width: 100%;
  background-color: #ba0c2f;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ba0c2f;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
}

.navbar li a:hover {
  background-color: #111;
}